body {
  margin: 0;
  padding: 0;
}

table {
  width: 95%;
}

table, th, td {
  border: 1px solid #D2D3D5;
  border-collapse: collapse;
}

.left {
  float: left;
  width: 20%;
}

.right {
  float: left;
  width: 80%;
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 5px;
}

div.caption {
  align: center;
  text-align: center;
  padding: 20px 0px;
  width: 95%;
  font: 18px arial, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #2A2929;
}

.icon {
  align: left;
  width:25px;
  height:25px;
  display:inline-block;
  margin:0px 10px -15px 0px;
}

th, td {
  text-align: center;
  vertical-align: center;
}

th {
  text-decoration: underline;
  background-color: #666666;
  color: white;
}

tr:hover {
  background-color: #f5f5f5;
}
